@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --sl-color-gray-0: #fff;
    --sl-color-gray-1: #f5f5f5;
    --sl-color-gray-2: #ebebeb;
    --sl-color-gray-3: #e0e0e0;
    --sl-color-gray-4: #d6d6d6;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #adadad;
    --sl-color-gray-7: #999;
    --sl-color-gray-8: #858585;
    --sl-color-gray-9: #707070;
    --sl-color-gray-10: #5c5c5c;
    --sl-color-gray-11: #3d3d3d;
    --sl-color-gray-12: #1f1f1f;
    --sl-color-gray-13: #000;
    --sl-color-red-1: #fdf6f5;
    --sl-color-red-2: #ffedea;
    --sl-color-red-3: #ffdfd9;
    --sl-color-red-4: #ffd0c7;
    --sl-color-red-5: #ffbbad;
    --sl-color-red-6: #ff9e8b;
    --sl-color-red-7: #ff7f68;
    --sl-color-red-8: #f95d47;
    --sl-color-red-9: #ec3727;
    --sl-color-red-10: #d31a15;
    --sl-color-red-11: #b40202;
    --sl-color-red-12: #940303;
    --sl-color-red-13: #720000;
    --sl-color-orange-1: #fdf5e9;
    --sl-color-orange-2: #ffedcd;
    --sl-color-orange-3: #ffe0ae;
    --sl-color-orange-4: #fed392;
    --sl-color-orange-5: #febc64;

    --lila: rgb(233, 96, 255);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}

html {
    font-size: 62.5%;
}
body {
    background: var(--sl-color-gray-0);
}

    /*---HEADER---*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    box-shadow: 0 4px 25px -22px var(--sl-color-gray-13);
    z-index: 10;
    margin: auto;
    background-color: var(--sl-color-gray-0);
}

.header-content {
    width: 120rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    position: relative;
}

.logo img {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 3px var(--sl-color-gray-7);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-right: 6rem;
}

.menu li {
    list-style: none;
    margin: 0rem 2rem;
    height: 100%;
    display: flexgap 2rem;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--sl-color-gray-12);
    font-weight: 400;
    position: relative;
}

.menu a::after {
    content: '';
    background-color: var(--sl-color-red-9);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: color 300ms;
    opacity: 0;
}

.menu a:hover::after {
    background: var(--sl-color-red-9);
    opacity: 1;
}

    /*---PORTADA---*/
    .container-all {
        background-color: var(--sl-color-gray-0);
        width: 100%;
    }

    .container-cover .portada {
        max-width: 100%;
        border-style: none;
        overflow-clip-margin: content-box;
        overflow: clip;
        height: 40rem;
        position: relative;
        margin-top: 8rem;
        background-size: cover;
        background-position: center;
    }

    .container-info-cover {
        max-width: 30rem;
        height: 30rem;
        padding: 2rem;
        margin-left: 5rem;
        top: 12rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: absolute;
        background-color: var(--sl-color-gray-0);
        border-radius: 100%;
    }

    .container-info-cover h1 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #logo-davivienda {
        width: 12rem;
    }

    .container-info-cover p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #logo-addi {
        width: 10rem;
        padding-bottom: 2rem;
    }

    /*---CATEGORÍAS---*/
    .top-categories {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .heading-1 {
        text-align: center;
        font-weight: 500;
        font-size: 3rem;
        margin-top: 3rem;
    }

    .container-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .card-category {
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        gap: 2rem;
    }

    .category-pisos {
        background-image: linear-gradient(#00000080, #c2c2c280), url('https://raw.githubusercontent.com/KeylaConde/catalogo-pisos-alfa/refs/heads/master/img/categorias/pisos.webp');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .category-pisos:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: transform 0.8s ease;
    }

    .category-paredes {
        background-image: linear-gradient(#00000080, #c2c2c280), url('https://raw.githubusercontent.com/KeylaConde/catalogo-pisos-alfa/refs/heads/master/img/categorias/paredes4.webp');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .category-paredes:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: transform 0.8s ease;
    }

    .category-fachadas {
        background-image: linear-gradient(#00000080, #c2c2c280), url('https://raw.githubusercontent.com/KeylaConde/catalogo-pisos-alfa/refs/heads/master/img/categorias/fachadas2.webp');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .category-fachadas:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: transform 0.8s ease;
    }

    .card-category p {
        font-size: 2.5rem;
        color: var(--sl-color-gray-0);
        text-transform: capitalize;
        position: relative;
        font-weight: 500;
    }

    .card-category p::after {
        content: '';
        width: 2.5rem;
        height: 2px;
        background-color: var(--sl-color-gray-0);
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .card-category span {
        font-size: 1.6rem;
        color: var(--sl-color-gray-0);
        background-color: var(--sl-color-red-8);
        padding: 1rem 2rem;
        border-radius: 20px;
        cursor: pointer;
    }

    /*---FOOTER---*/
    .footer {
        background-color: var(--sl-color-gray-0);
        width: 125rem;
        margin: auto;
    }

    .footer hr {
        background-color: var(--sl-color-red-9);
        height: 2px;
        margin-top: 2rem;
        border: none;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 3rem;
    }

    .menu-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 4cqmin;
        gap: 3rem;
        justify-items: center;
    }
    .title-footer {
        font-weight: 500;
        font-size: 1.8rem;
        color: var(--sl-color-red-9);
        margin-bottom: 1rem;
    }

    .contact-info, .logo-footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .contact-info ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contact-info ul li {
        list-style: none;
        color: var(--sl-color-gray-11);
        font-size: 1.2rem;
        font-weight: 400;
    }

    .information i {
        margin-right: 1rem;
        color: var(--sl-color-gray-12);
        font-size: 1.8rem;
    }

    .social-icons {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;
        cursor: pointer;
    }

    .social-icons span i {
        color: var(--sl-color-gray-1);
        background-color: var(--sl-color-gray-12);
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }  
    
    .container-logo-footer {
        background-color: var(--sl-color-gray-2); 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-footer {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .container-logo-footer p {
        font-size: 1.8rem;
        color: var(--sl-color-red-9);
        margin-bottom: 2rem;
    }

    .logo-footer {
        width: 12rem;
        height: 12rem;       
    }

    .medios-de-pago {
        background-color: var(--sl-color-gray-0);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .medios-de-pago img {
        margin-top: 2rem;
    }